body {
background: #fff;
font-size: 20px;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
justify-content: space-around;
}

.button__main {
  font-size: 20px;
  width: 400px;
  height: 80px;
  background-color: #fff;
  letter-spacing: 0.15em;
}

.button__main:hover{
  color: #fff;
  background-color: #000;
  transition: all .3s;
}

.button__sub {
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  height: 80px;
  border-radius: 40px;
  background-color: transparent;
  border-width: 3px;
  letter-spacing: 0.15em;
}

.button__sub:hover{
  color: #fff;
  background-image: linear-gradient(to right bottom, #606060, #fff);
  border: none;
  transition: all .3s;
}

.button__thi {
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  height: 80px;
  background-color: transparent;
  border: none;
  letter-spacing: 0.15em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.button__thi:hover{
  transition: all .3s;
  box-shadow: 0px 8px 5px 5px rgba(0, 0, 0, 0.1);
}
